:root {
  --primary-color: #044DC7;
  --highlight-color: #3073e0;
  --secondary-color: #282A2C;
  --correct-color: #49ff79;
  --wrong-color: #ea4335;
  --text-color: #a2a9b0;
  --background-color: #1B1C1D;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Google Sans", "Helvetica Neue", sans-serif;
}

#quiz-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px 25px;
  background-color: var(--secondary-color);
  border-radius: 16px;
}

h2 {
  margin-top: 0;
  color: #ffffff;
}

h2 .question-number {
  font-size: 0.5em;
  color: var(--text-color);
  padding-left: 5px;
}

p {
  line-height: 1.4;
}

label {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #ddd;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  padding: 8px 18px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: var(--highlight-color);
}

button:disabled {
  background-color: var(--text-color);
  cursor: not-allowed;
}

input[type="radio"] {
  appearance: none;
  background-color: var(--secondary-color);
  margin: 0 10px 0 0;
  font: inherit;
  color: var(--text-color);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--text-color);
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
  box-shadow: inset 1em 1em var(--highlight-color);
  transform: scale(0);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:disabled {
  border-color: #6c7074;
  cursor: not-allowed;
}

#topnav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 10px 20px;
  margin: 0;
}

.top-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

#topnav h1 {
  margin: 0;
  color: #fff;
  font-size: 4vw;
}

#scoreBox {
  padding: 6px 12px;
  border: none;
  background: none;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

#textBox {
  padding: 6px 12px;
  border: none;
  background: none;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 10px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
  gap: 4px;
}

.dot {
  width: 15px;
  height: 15px;
  /* padding-top: 100%; */
  border-radius: 30%;
  border: 2px solid #7391c4;
  box-sizing: border-box;
  padding: 3px;
}

#printBtn {
  background-color: var(--secondary-color);
  border: 2px solid var(--text-color);
  color: #fff;
  margin-top: 0;
  border-radius: 5px;
  transition: background-color 0.2s;
}

@keyframes flashCorrect {
  0% {
    background-color: var(--secondary-color);
    transform: scale(1);
  }

  25% {
    background-color: #30432d;
    transform: scale(1.01);
  }

  50% {
    background-color: #30432d;
    transform: scale(1.0);
  }

  75% {
    background-color: #30432d;
    transform: scale(1.01);
  }

  100% {
    background-color: var(--secondary-color);
    transform: scale(1);
  }
}

@keyframes flashWrong {
  0% {
    background-color: var(--secondary-color);
    transform: scale(1);
  }

  25% {
    background-color: #402828;
    transform: scale(1.01);
  }

  50% {
    background-color: #402828;
    transform: scale(1.0);
  }

  75% {
    background-color: #402828;
    transform: scale(1.01);
  }

  100% {
    background-color: var(--secondary-color);
    transform: scale(1);
  }
}

.flash-correct {
  animation: flashCorrect 0.7s;
}

.flash-wrong {
  animation: flashWrong 0.7s;
}

@media print {
  #quiz-container {
    display: none !important;
  }

  #printContainer {
    display: block !important;
  }
}

.action-btn {
  width: 140px; /* Button size Select/Next */
  height: 40px;
  font-size: 16px; 
}